extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner 
      div.Logo CYBERNOVA
      div.Login
        if isAuthenticated
          a(href="/user")
            div.LoginButton Just dive in!
        else
          a(href="/login")
            div.LoginButton Login
    h1.NavBar
      a(href="/") 
        div.NavBarButton Home
      a(href="/Projects") 
        div.NavBarButton Projects 
      a(href="/Mods") 
        div.NavBarButton Mods
      a(href="/DnD") 
        div.NavBarButton Homebrew
      a(href="/DnD") 
        div.NavBarButton Images
    div.Body
      div.Title What I learned from creating this website!
      div.Post
        div.PostContent
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in vehicula erat, a efficitur eros. Nullam molestie, ante sed auctor lacinia, libero ex viverra nunc, non mollis ipsum tortor id lacus. Donec nec nibh sollicitudin, accumsan velit vel, pharetra lectus. Proin eget metus fringilla urna convallis eleifend. Suspendisse dictum eleifend ante, eget laoreet nisi. Duis egestas magna nunc, molestie posuere est bibendum vitae. Suspendisse vitae urna in arcu rhoncus lobortis a sed eros. Nulla hendrerit quam ac eleifend pretium. Curabitur vel rutrum tortor. Sed a pharetra dui, at sollicitudin quam. Praesent consectetur pellentesque bibendum. Quisque id lacus tortor. Maecenas imperdiet cursus commodo. Morbi cursus quam sit amet nulla consequat mollis.
          p Nunc mi felis, elementum ut fermentum eu, ullamcorper eget risus. Curabitur mattis consequat odio, a bibendum nisi efficitur id. Duis a arcu viverra, semper tellus eget, elementum mauris. Nulla congue, leo sed sagittis pellentesque, nunc purus rutrum nisi, quis elementum mauris arcu in velit. Fusce eros enim, pharetra eu mattis non, consequat et purus. Sed malesuada dignissim eros ac feugiat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam feugiat non tortor quis gravida. Praesent cursus risus nec erat faucibus, nec semper erat vehicula. Phasellus ut nisi velit. Nulla facilisi. Duis mattis congue tellus et dapibus. Fusce non erat felis. Pellentesque et pellentesque neque, ut finibus diam. Sed sit amet velit at mi accumsan auctor sed sed magna. Sed cursus, enim porttitor fringilla bibendum, nisl orci pretium ante, sed consectetur ex odio at dolor.
          p Sed vestibulum malesuada faucibus. Duis vitae tincidunt nulla, vitae pulvinar ligula. Ut sit amet interdum purus. Suspendisse sed rhoncus neque. Suspendisse nec magna cursus, placerat mi at, varius sapien. Phasellus tristique justo nulla, sed feugiat libero tristique sodales. Donec varius odio massa, ac posuere dolor commodo mollis. Integer et accumsan enim. Donec pulvinar sagittis ligula et facilisis. Sed ex tortor, convallis quis interdum id, volutpat sed ante. Suspendisse metus nulla, pretium a neque id, lobortis vehicula massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum eu commodo velit. In consectetur efficitur augue, id vestibulum risus interdum quis.
          p Mauris non leo arcu. Phasellus bibendum iaculis diam, et sodales lorem sagittis vel. Duis eu pretium arcu. Duis at congue sem. Quisque fermentum vel tortor a vulputate. Quisque porttitor nunc quis dui interdum maximus. Donec tincidunt felis tristique tincidunt viverra. Duis sed elementum est. Vestibulum convallis consectetur dolor, ut viverra ipsum. Mauris pellentesque sodales tristique. Nunc imperdiet, leo non tristique sodales, odio dolor pellentesque leo, nec aliquet risus neque sit amet odio. Curabitur ultrices lacus et neque rhoncus dapibus. In vel magna in sapien dignissim congue. Donec eu neque et nibh lacinia sagittis. Duis sit amet ullamcorper eros, sed euismod magna. Cras sed lacinia purus.
          p Nulla facilisi. Nullam venenatis iaculis nisi, sit amet blandit nulla pharetra viverra. Morbi vitae augue neque. Vivamus a felis sed est porta faucibus sed at eros. Nunc ut purus pellentesque, suscipit urna ut, dapibus nibh. Praesent eget scelerisque tellus. Quisque egestas, quam at malesuada egestas, justo quam commodo arcu, ac consectetur diam nibh ac purus. Sed non lacinia ipsum, nec imperdiet dui. Curabitur aliquam imperdiet suscipit. Nam lobortis purus vel erat luctus semper. Suspendisse at est quam. Nunc commodo arcu et enim sodales auctor. Etiam auctor dapibus augue, sit amet luctus ipsum eleifend luctus. Nulla facilisi.
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in vehicula erat, a efficitur eros. Nullam molestie, ante sed auctor lacinia, libero ex viverra nunc, non mollis ipsum tortor id lacus. Donec nec nibh sollicitudin, accumsan velit vel, pharetra lectus. Proin eget metus fringilla urna convallis eleifend. Suspendisse dictum eleifend ante, eget laoreet nisi. Duis egestas magna nunc, molestie posuere est bibendum vitae. Suspendisse vitae urna in arcu rhoncus lobortis a sed eros. Nulla hendrerit quam ac eleifend pretium. Curabitur vel rutrum tortor. Sed a pharetra dui, at sollicitudin quam. Praesent consectetur pellentesque bibendum. Quisque id lacus tortor. Maecenas imperdiet cursus commodo. Morbi cursus quam sit amet nulla consequat mollis.
          p Nunc mi felis, elementum ut fermentum eu, ullamcorper eget risus. Curabitur mattis consequat odio, a bibendum nisi efficitur id. Duis a arcu viverra, semper tellus eget, elementum mauris. Nulla congue, leo sed sagittis pellentesque, nunc purus rutrum nisi, quis elementum mauris arcu in velit. Fusce eros enim, pharetra eu mattis non, consequat et purus. Sed malesuada dignissim eros ac feugiat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam feugiat non tortor quis gravida. Praesent cursus risus nec erat faucibus, nec semper erat vehicula. Phasellus ut nisi velit. Nulla facilisi. Duis mattis congue tellus et dapibus. Fusce non erat felis. Pellentesque et pellentesque neque, ut finibus diam. Sed sit amet velit at mi accumsan auctor sed sed magna. Sed cursus, enim porttitor fringilla bibendum, nisl orci pretium ante, sed consectetur ex odio at dolor.
          p Sed vestibulum malesuada faucibus. Duis vitae tincidunt nulla, vitae pulvinar ligula. Ut sit amet interdum purus. Suspendisse sed rhoncus neque. Suspendisse nec magna cursus, placerat mi at, varius sapien. Phasellus tristique justo nulla, sed feugiat libero tristique sodales. Donec varius odio massa, ac posuere dolor commodo mollis. Integer et accumsan enim. Donec pulvinar sagittis ligula et facilisis. Sed ex tortor, convallis quis interdum id, volutpat sed ante. Suspendisse metus nulla, pretium a neque id, lobortis vehicula massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum eu commodo velit. In consectetur efficitur augue, id vestibulum risus interdum quis.
          p Mauris non leo arcu. Phasellus bibendum iaculis diam, et sodales lorem sagittis vel. Duis eu pretium arcu. Duis at congue sem. Quisque fermentum vel tortor a vulputate. Quisque porttitor nunc quis dui interdum maximus. Donec tincidunt felis tristique tincidunt viverra. Duis sed elementum est. Vestibulum convallis consectetur dolor, ut viverra ipsum. Mauris pellentesque sodales tristique. Nunc imperdiet, leo non tristique sodales, odio dolor pellentesque leo, nec aliquet risus neque sit amet odio. Curabitur ultrices lacus et neque rhoncus dapibus. In vel magna in sapien dignissim congue. Donec eu neque et nibh lacinia sagittis. Duis sit amet ullamcorper eros, sed euismod magna. Cras sed lacinia purus.
    div.Comments
        h2 Leave a Comment!
        form(role='form' method='GET' action='https://www.google.com/')
          div.form-group
          label(for='name') Name:
          input#name.form-control(type='text', placeholder='name' name='name')
          div.form-group
          label(for='email') Email: 
          input#email.form-control(type='email', placeholder='name@email.com' name='email')
          div.form-group
          <br>
          textarea#w3review(name='w3review' rows='4' cols='50')
          div.form-group
          <br>
          input(type='submit' value='Submit')

  div.Footer
    a.FooterItem About Me
    a.FooterItem Contact Info <br>
    a.FooterItem Support Me <br>
    a.FooterItem My Youtube <br>
    div.FooterBanner 
      div.FooterBannerItem Privacy Policy
      div.FooterBannerItem |
      div.FooterBannerItem Terms of Service
      div.FooterBannerItem |
      div.FooterBannerItem Follow Me
      div.FooterBannerCopyright @ 2023 CYBERNOVA.COM ALL RIGHTS RESERVED
        
    
