:root {
  --ui-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06),
    0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
  fill: rgba(0, 0, 0, 0.54);
  --ui-shadow-border: 1px solid rgba(0, 0, 0, 0.14);
  --color1: #2C3531;
  --color2: #116466;
  --color3: #D9B08C;
  --color4: #FFCB9A;
  --color5: #D1E8E2;
  --color6: #fefe22;
  --color7: #374955;
  --color8: #7DF9FF;
  --color9: #EEC9BC;
  --color10: #1e2421;
  --white: white;
}

@media (max-width: 240px) {
  /* really tiny screens */
}
@media (min-width: 241px) and (max-width: 319px) {
  /* a little bit bigger screens */
}
@media (min-width: 320px) and (max-width: 767px) {

}

@font-face {
  font-family: Goblin;
  src: url('GlitchGoblin-2O87v.ttf');
}

@font-face {
  font-family: Cyber;
  src: url('./fonts/CyberwayRiders-lg97d.ttf');
}

@font-face {
  font-family: SpaceArmor;
  src: url('./fonts/SpaceArmor-vmlv4.otf');
}

@font-face {
  font-family: Bebas;
  src: url('BebasNeue-Regular.ttf');
}

@font-face {
  font-family: Valorax;
  src: url('./fonts/Valorax-lg25V.otf');
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  display: flexbox;
  justify-content: center;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

h1,
h3 {
  font-family: "Valorax";
  text-transform: uppercase;
}

h2 {
  font-family: "Valorax";
  text-transform: uppercase;
  color: var(--color6);
  text-decoration: underline var(--color8) 25%;
  text-align: center;
  align-self: center;
}

hr {
  background-color: #D1E8E2;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  text-align: center;
}

label {
  text-align: left;
  padding-right: 20px;
  display: inline-block;
  min-width: 150px;
  color: var(--white);
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#root {
  display: flex;
  flex-direction: column;
}

.View {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 20px;
  width: 100%;
  padding: 20px;
  background-size: cover;
}

.Banner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  border-style: solid;
  border-radius: 30px;
  border-color: var(--color5);
  background-color: var(--color2);
  padding: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./images/banner_image.png);
}

.Body {
  display: flex;
  flex-wrap: wrap;
  background: #374955;
  padding: 2em;
  margin: auto;
  width: 100%;
  height: max-content;
}

.NavBar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2vw;
  max-height: 10vh; 
  width: auto;
  max-width: 100vw;
  margin: auto;
  height: fit-content;
  background-color: var(--color1);
}

.NavBarButton {
  display: flex;
  justify-content: center;
  width: 5em;
  height: auto;
  align-items: center;
  padding: 0.3em 1.2em;
  background: var(--color7);
  border-style: solid;
  border-radius: 2em;
  border-color: var(--color5);
  font-size: 32px;
  color: var(--color6);
  text-transform: capitalize;
  font-family: Cyber;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.NavBarButton:hover {
  color: #EEC9BC;
  background-color: var(--color8);
}

.LoginButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3em 1.4em;
  margin-right: 1em;
  margin: 0 0.1em 0.em 0;
  background: var(--color7);
  border-style: solid;
  border-radius: 30px;
  border-color: var(--c);
  font-size: 1.3vw;
  font-weight: bold;
  color: var(--color5);
  text-transform: capitalize;
}

.LoginButton:hover {
  color: #EEC9BC;
  background-color: var(--color8);
}

.WelcomeView {
  background-color: var(--color1);
  background-size: fill;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding-bottom: 0;
}

.UserView {
  background: url("https://cdn.auth0.com/blog/whatabyte-portal/patio.jpeg") left bottom;
  background-size: cover;
}

.Login {
  margin-left: auto;
  margin-right: 0;
}

.Logo {
  flex-grow: 4;
  font-family: Cyber;
  font-size: 7vw;
  color: #fefe22;
  letter-spacing: 20px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  filter: drop-shadow(30px 10px 4px var(--color1));
}

.Footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: bottom;
  column-gap: 10em;
  height: 100px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--color1);
  color: var(--color5);
  text-align: center;
  border-top: 5px solid var(--color5);
  font-family: 'Times New Roman', Times, serif;
  font-size: 1vw;
}

.FooterItem {
  font-size: 16px;
  padding: 1em
}

.FooterBanner {
  display: flex;
  width: 100%;
  height: auto;
  background-color: #1e2421;
}

.FooterBannerItem {
  align-self: center;
  padding: 1em 1em 1em 4em;
  font-size: 16px;
  color: #808080;
}

.FooterBannerCopyright {
  margin-left: auto;
  padding: 1em;
  font-size: 16px;
  color: #808080;
}

.Title {
  font-size: 32px;
  font-family: bebas;
  background-color: var(--color1);
  width: 100%;
  padding: 0.5em;
  color: var(--white);
  border: 5px solid var(--color6);
  border-bottom: 0;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.Post {
  background-color: var(--white);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1em;
}

.CommentBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: auto;
  width: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1em;
  background-color: var(--color7);
  border: 5px solid var(--color5);
  border-bottom: none;
  margin-bottom: none;
}

.CommentForm {
  width: auto;
  height: 100%;
  align-self: center;
  background-color: var(--color10);
  padding: 1em;
  border-right: 5px solid var(--color7);
}

.CommentExplain {
  width: auto;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  background-color: var(--color10);
  padding: 1em;
  border-left: 5px solid var(--color7);
  color: var(--white);
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.CommentExplainLinkBox{
  display: flex;
}

.CommentExplainLink {
  align-self: center;
  padding: 0.5em;
  margin: auto;
  background-color: var(--color7);
  border-radius: 2em;
  border: 2px solid var(--color8);
}

.CommentSection {
  height: auto;
  width: auto;
  max-height: 1100px;
  min-height: 1100px;
  align-self: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1em;
  overflow: auto;
  background-color: var(--color10);
  border: 5px solid var(--color5);
}

.Comment {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1em;
  height: auto;
  width: 100%;
  justify-content: center;
}

.CommentDisplayTop {
  display: flex;
  height: 4em;
  width: 100%;
  align-items: center;
  justify-content: left;
  padding-left: 1em;
  font-size: 1.5em;
  text-align: center;
  background-color: var(--color10);
  color: var(--white);
}

.CommentDisplayBottom {
  display: flex;
  height: 4em;
  width: 100%;
  align-items: center;
  justify-content: left;
  padding-left: 1em;
  font-size: 1.5em;
  text-align: center;
  background-color: var(--color2);
  color: var(--white);
}

.CommentDisplayText {
  height: 6em;
  width: 100%;
  flex-basis: 100%;
  padding: 1em;
  background-color: var(--color10);
  font-size: 1.5em;
  color: var(--white);
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.Widgets {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: auto;
  background-color: var(--color1);
  margin: 5em;
  column-gap: 2em;
  margin-top: 0em;
}

.MidImage {
  background-color: #116466;
  background-image: url('./images/vertical_mid_image.png');
  background-size: cover;
  width: auto;
  height: auto;
  max-width: 810px;
  grid-row: 1 / 3;                          /* 5 */
  grid-column: 2 / 3;   
}

.CommentorIcon {
  background-color: white;
  height: 50px;
  width: 50px;
}

.CommentorName {
  margin-left: 2em;
}

.CommentorEmail {
  margin-left: 2em;
}

.CommentHeader {
  width: 100%;
  height: 150px;
  text-align: center;
  padding-top: 15px;
  margin: auto;
  background-color: var(--color10);
  font-size: 6em;
  font-family: Cyber;
  border: 5px solid var(--color8);
  color: var(--color6);
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
filter: drop-shadow(30px 10px 4px var(--color1));
}

.ContactInfo {
  display: none;
  visibility: hidden;
  height: 100vh;
  margin: 10em;
  background-color: white;
}

.LArrow {
  margin: auto;
  background-color: none;
  background-image: url('./images/right-arrow.png');
  background-size: cover;
  min-width: 50px;
  min-height: 50px;
  transform: scaleX(-1);
  margin-top: 1em;
  margin-right: 5%;
}

.RArrow {
  margin: auto;
  background-color: none;
  background-image: url('./images/right-arrow.png');
  background-size: cover;
  text-align: center;
  min-width: 50px;
  min-height: 50px; 
  transform: scaleX(1);
  margin-top: 2em;
}